<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Aplikasi{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li><a href="{{ url_for('index') }}">Homepage</a></li>
            <li><a href="{{ url_for('dashboard_admin') }}">Dashboard Admin</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </div>

    <div class="content">
        {% block content %}
        <!-- Konten halaman akan dimasukkan di sini -->
        {% endblock %}
    </div>
</body>
</html>